.title {
  font-size: 4rem;
  color: rgb(56, 56, 56);
  margin-top: 5rem;
}

.title > span {
  display: block;
  letter-spacing: 10px;
  line-height: 1;
}

.highlightTitle {
  color: #d1a6a7;
  font-weight: 100;
}
@media only screen and (max-width: 375px) {
  .title {
    text-align: center;
    font-size: 2rem;
    margin-top:4rem;
  }
}
@media only screen and (min-width: 426px) and (max-width:768px){
  .title {
    font-size: 3rem;
    margin-top:2rem;
  }
}