.title{
    font-size: 4rem;
    color: rgb(56, 56, 56);
}

.title>span{
    display:block;
    letter-spacing: 10px;
    line-height: 1;
}

.highlightTitle{
    color: #D1A6A7;
    font-weight: 100;
    margin-top: 5rem;
}